@font-face {
  font-family: "iconfont"; /* Project id 3503238 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1660130175441') format('woff2'),
       url('iconfont.woff?t=1660130175441') format('woff'),
       url('iconfont.ttf?t=1660130175441') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yonghu:before {
  content: "\e603";
}

.icon-gfcaidan:before {
  content: "\e7ca";
}

.icon-tijiaoziliao:before {
  content: "\e611";
}

.icon-fuzhilianjie:before {
  content: "\e62d";
}

.icon-dianzan1:before {
  content: "\e694";
}

.icon-dianzan:before {
  content: "\e816";
}

.icon-fenxiang:before {
  content: "\e60c";
}

.icon-xiazai-wenjianxiazai-05:before {
  content: "\e855";
}

.icon-tag:before {
  content: "\e64d";
}

.icon-bianji:before {
  content: "\e609";
}

.icon-shijian1:before {
  content: "\e638";
}

.icon-shijian2:before {
  content: "\e61d";
}

.icon-xinlangweibo:before {
  content: "\e600";
}

.icon-qqkongjian:before {
  content: "\e66f";
}

.icon-jushoucang:before {
  content: "\e643";
}

.icon-jushoucanggift:before {
  content: "\e684";
}

.icon-quotation:before {
  content: "\e67b";
}

.icon-qq:before {
  content: "\e612";
}

.icon-shoucang:before {
  content: "\e86d";
}

.icon-rili:before {
  content: "\e89e";
}

.icon-weixin:before {
  content: "\e637";
}

.icon-rili1:before {
  content: "\e8b4";
}

.icon-shoucang1:before {
  content: "\e8c6";
}

.icon-weixin1:before {
  content: "\e607";
}

.icon-caidan:before {
  content: "\e60b";
}

.icon-caidan--xian:before {
  content: "\e898";
}

.icon-caidan1:before {
  content: "\ee15";
}

.icon-jiahao1:before {
  content: "\e727";
}

.icon-bofang4:before {
  content: "\e656";
}

.icon-shijian:before {
  content: "\e67c";
}

.icon-pinglun:before {
  content: "\e7f5";
}

.icon-biaoqian1:before {
  content: "\e62c";
}

.icon-biaoqian:before {
  content: "\e63d";
}

.icon-fanye:before {
  content: "\e756";
}

.icon-fanye1:before {
  content: "\e757";
}

.icon-sousuo-copy:before {
  content: "\ee16";
}

.icon-sousuo:before {
  content: "\e752";
}

.icon-youxiang:before {
  content: "\e632";
}

.icon-dianhua:before {
  content: "\e8bd";
}

.icon-bofang:before {
  content: "\e87c";
}

.icon-bofang1:before {
  content: "\e624";
}

.icon-24gf-playCircle:before {
  content: "\ea82";
}

.icon-jurassic_user:before {
  content: "\e6a4";
}

