/* @font-face {
    font-family: 'ArrowBlack';
    src: url(./NotoSansCJKsc-Black.otf)
} */

@font-face {
    font-family: 'ArrowBold';
    src: url(./NotoSansCJKsc-Bold.otf)
}


/* @font-face {
    font-family: 'ArrowDemiLight';
    src: url(./NotoSansCJKsc-DemiLight.otf)
} */


/* @font-face {
    font-family: 'ArrowLight';
    src: url(./NotoSansCJKsc-Light.otf);
} */

@font-face {
    font-family: 'ArrowMedium';
    src: url(./NotoSansCJKsc-Medium.otf);
}

@font-face {
    font-family: 'ArrowRegular';
    src: url(./NotoSansCJKsc-Regular.otf);
}


/* @font-face {
    font-family: 'ArrowThin';
    src: url(./NotoSansCJKsc-Thin.otf);
}

@font-face {
    font-family: 'ArrowMonoBold';
    src: url(./NotoSansMonoCJKsc-Bold.otf);
}

@font-face {
    font-family: 'ArrowMonoRegular';
    src: url(./NotoSansMonoCJKsc-Regular.otf);
} */